body{
    /*width: 75%;*/
    /*margin: 40px auto;*/
    /*padding-top: 70px;*/
}

.btn-xl {
    width:400px;
}

.btn-xxl {
    width:500px;
}

.modal p {
    word-wrap: break-word;
}

#navbarDropdownMenuLink {
    cursor: pointer;
}