<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script type="text/javascript" src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script th:src="@{/js/main.js}" defer></script>
    <script th:src="@{/js/index.js}" defer></script>
    <style>
        body {
            padding-top: 110px;
        }
    </style>
</head>
<body th:style="'background:url(' + @{/pic/bg.jpg} + ');'" >

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <table style="width: 100%; color: darkgray">
        <tr>
            <td>
                <h1>
                    <span>Фото</span>
                    <img id="onWorkLoading" class="invisible" th:src="@{/gif/25.gif}">
                </h1>
            </td>
            <td style="text-align: right">
                <h1>
                    <span id="totalTimeInscription">Общее время :</span>
                    <span id="totalTime"></span>
                    <span>
                     <img th:width="120" id="onSaveResultLoading" class="invisible" th:src="@{/gif/30.gif}">
                </span>
                </h1>
            </td>
        </tr>
        <tr>
            <td>
                <a style="color: grey" href="statistic">Справочники</a>
            </td>
            <td style="text-align: right">
                <a style="color: grey" href="#" id="sentAllActivitiesBtn">Отправить</a>
                <a style="color: grey" href="#" id="refreshAllBtn">Обновить</a>
                <a style="color: grey" href="#" id="stopAllActivitiesBtn">Завершить</a>
            </td>
        </tr>
    </table>
</nav>


<div class="container">
    <div align="right">
        <a style="color: #000000;" id="userName" href="#"></a>
    </div>
    <div id="accordion"></div>
    <div id="userAuthDialog"></div>
</div>

<div th:replace="fragments/main :: messageDialog"></div>
<div th:replace="fragments/main :: loadingDialog"></div>
<div th:replace="fragments/main :: dialog-confirm"></div>

</body>
</html>